body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}
.pointer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, .1);
  border: 1px solid  rgba(255, 255, 255, .1);
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
  transition: .2s;
}
.pointer1 {
  transition: 0.05s;
  background: yellow;
}
.pointer2 {
  transition: 0.1s;
  background: green;
}
.pointer3 {
  transition: 0.15s;
  background:red;
}
.pointer4 {
  transition: 0.2s;
  background: lightblue;
}
.pointer5 {
  transition: 0.25s;
  background: lightgray;
}










